

**/.DS_store

# django
**/blog_static/**
**/db.sqlite3
**/server_static/**
**/__pycache__/**

# uim & dumi
**/node_modules/**
**/.umi/**
**/dist/**
**/docs-dist/**
**/.dumi/tep
**/.dumi/tmp-production


# rust
**/target/*
**/**/*.exe
