**/__pycache__/**

**/.DS_store

# django
**/blog_static/**
**/db.sqlite3
**/server_static/**
blog_server/db.sqlite3

# uim & dumi
**/node_modules/**
**/.umi/**
**/dist/**
**/docs-dist/**

# rust
**/target/*
**/**/*.exe
