**/__pycache__/**

**/.DS_store

# django
**/blog_static/**
**/db.sqlite3
**/server_static/**

# uim & dumi
**/node_modules/**
**/.umi/**
**/dist/**
**/docs-dist/**
**/node_modules


# rust
**/debug
**/target
**/target/*
**/**/*.exe
