.item {
  color: inherit;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    .icon {
      font-size: 32px;
      font-weight: 600;
    }
  }
}
