.container {
  --itemSize: 36px;
  --Gap: 8px;
  --containerH: 108px;
  --translateYChinese: 44px;
  --translateYEnglish: 88px;
  height: 38px;
  overflow: visible;
  .languages {
    box-sizing: content-box;
    width: var(--itemSize);
    height: var(--itemSize);
    line-height: var(--itemSize);
    text-align: center;
    top: var(--padding);
    right: var(--padding);
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 1s;
  }

  .chinese,
  .english,
  .Language {
    position: absolute;
    width: var(--itemSize);
    height: var(--itemSize);
    border-radius: 50%;
    cursor: pointer;
  }

  .chinese {
    transition: 0.4s;
  }

  .english {
    transition: 0.8s;
  }

  .chinese .button,
  .english .button,
  .Language {
    width: var(--itemSize);
    height: var(--itemSize);
    border-radius: 50%;
    outline: none;
    border: 1px solid var(--themeBackground);
    background-color: var(--themeColor);
    color: var(--themeFontColor);
  }

  .languages:hover {
    height: var(--containerH);
  }

  .languages:hover .chinese {
    transform: translateY(44px) rotate(360deg);
  }
  .languages:hover .english {
    transform: translateY(88px) rotate(720deg);
  }
}
