$itemSize: 36px;
$Gap: 8px;

$containerH: 108px;
$translateYChinese: 44px;
$translateYEnglish: 88px;

.container {
  height: 38px;
  overflow: visible;
  .languages {
    box-sizing: content-box;
    width: $itemSize;
    height: $itemSize;
    line-height: $itemSize;
    text-align: center;
    top: $padding;
    right: $padding;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 1s;
  }

  .chinese,
  .english,
  .Language {
    position: absolute;
    width: $itemSize;
    height: $itemSize;
    border-radius: 50%;
    cursor: pointer;
  }

  .chinese {
    transition: 0.4s;
  }

  .english {
    transition: 0.8s;
  }

  .chinese .button,
  .english .button,
  .Language {
    width: $itemSize;
    height: $itemSize;
    border-radius: 50%;
    outline: none;
    border: 1px solid $themeBackground;
    background-color: $themeColor;
    color: $themeFontColor;
  }

  .languages:hover {
    height: $containerH;
  }

  .languages:hover .chinese {
    transform: translateY(44px) rotate(360deg);
  }
  .languages:hover .english {
    transform: translateY(88px) rotate(720deg);
  }
}
