@import '../../assets/css/const.less';

.row {
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .row {
    display: flex;
    .line {
      width: 1px;
      background-color: @themeLinkColor;
      margin: 0 @margin;
      flex-shrink: 0;
      .index {
        width: @px16;
        height: @px16;
        border-radius: 50%;
        background-color: @themeLinkColor;
        transform: translate(-50%, 0);
      }
    }
    .texts {
      flex-shrink: 0;
    }
  }
}
@media screen and (min-width: 650px) {
  .row {
    display: flex;
    .line {
      width: 1px;
      background-color: @themeLinkColor;
      flex-shrink: 1;
      .index {
        width: @px16;
        height: @px16;
        border-radius: 50%;
        background-color: @themeLinkColor;
        transform: translate(-50%, 0);
      }
    }
    .texts {
      flex-shrink: 0;
      width: calc(50% - @margin);
    }
  }

  .row:nth-child(odd) {
    .line {
      margin: 0 0 0 50%;
      order: 0;
    }
    .texts {
      order: 1;
      margin: 0 0 0 @margin;
    }
  }
  .row:nth-child(even) {
    .line {
      margin: 0 50% 0 0;
      order: 1;
    }
    .texts {
      margin: 0 @margin 0 0;
      order: 0;
    }
  }
}
