.row {
	overflow: hidden;
}

@media screen and (max-width: 650px) {
	.row {
		display: flex;

		.line {
			width: 1px;
			background-color: var(--themeLinkColor);
			margin: 0 var(--margin);
			flex-shrink: 0;

			.index {
				width: var(--px16);
				height: var(--px16);
				border-radius: 50%;
				background-color: var(--themeLinkColor);
				transform: translate(-50%, 0);
			}
		}

		.texts {
			flex: 1;
		}
	}
}

@media screen and (min-width: 650px) {
	.row {
		display: flex;

		.line {
			width: 1px;
			background-color: var(--themeLinkColor);
			flex-shrink: 1;

			.index {
				width: var(--px16);
				height: var(--px16);
				border-radius: 50%;
				background-color: var(--themeLinkColor);
				transform: translate(-50%, 0);
			}
		}

		.texts {
			flex-shrink: 0;
			width: calc(50% - var(--margin));
		}
	}

	.row:nth-child(odd) {
		.line {
			margin: 0 0 0 50%;
			order: 0;
		}

		.texts {
			order: 1;
			margin: 0 0 0 var(--margin);
		}
	}

	.row:nth-child(even) {
		.line {
			margin: 0 50% 0 0;
			order: 1;
		}

		.texts {
			margin: 0 var(--margin) 0 0;
			order: 0;
		}
	}
}