/**
* https://ant.design/docs/spec/colors-cn
*/

@margin: 16px;

@padding: 16px;

@themeColor: #000;
@themeBackground: #eee;

@themeFontColor: #fff;
@themeFontColorGrey: #ccc;
@themeFontColorHover: #aaa;

@themeLinkColor: #fcfcfc;
@themeLinkHoverColor: #fff;

@headerHight: 60px;

@footerHight: 108px;

@step_time: 0.1s;

@shadowColor: #000;

@maskColor: rgba(0, 0, 0, 0.5);

@radius: 8px;

@px32: 32px;
@px16: 16px;
@px8: 8px;
@px4: 4px;
