@font-face {
  font-family: "iconfont"; /* Project id 2141876 */
  src: url('iconfont.woff2?t=1657355655543') format('woff2'),
       url('iconfont.woff?t=1657355655543') format('woff'),
       url('iconfont.ttf?t=1657355655543') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading:before {
  content: "\e756";
}

.pause:before {
  content: "\e847";
}

.play:before {
  content: "\e848";
}

.backward:before {
  content: "\e8ec";
}

.forward:before {
  content: "\e8ee";
}

.Languages:before {
  content: "\e657";
}

.home:before {
  content: "\e60b";
}

.pen:before {
  content: "\e7ff";
}

.yinyue:before {
  content: "\e680";
}

.xiangce1:before {
  content: "\e618";
}

.rizhi:before {
  content: "\e63f";
}

